<div class="basket-container">  
  <h2>Basket</h2>

  <% if @order.order_products.length >= 1 %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantitiy</th>        
        </tr>
      </thead>
      <tbody>
        <% @order.order_products.each do |product| %>
          <tr>
            <td>
              <%= product.product.name %>
            </td>
            <td>
              <%= product.quantity %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Checkout', orders_checkout_path, class: 'checkout-link btn btn-primary' %>

    <%= form_tag products_remove_basket_item_path, method: :delete do %>
      <%= submit_tag "Empty yout basket", class: 'btn btn-danger' %>
    <% end %>

  <% else %>
    <p>You basket are Empty</p>
  <% end %>
</div>
